header {
  height: 75px; // Móvil
  background-color: #eee;
  display: flex;
  align-items: center;
  padding: 0 20px;

  @include dispositivo(tablet) {
    height: 100px;
  }

  @include dispositivo(desktop) {
    height: 110px;
  }
}
