@import "variables";

footer {
  display: flex;
  width: 100%;
  align-items: flex-start;

  // --- BUCLE DEL FOOTER ---
  // Extraemos cada valor del mapa $footer-data (color, alto, tamaño_letra, color_texto)
  @each $nombre, $propiedades in $footer-data {
    .caja_#{$nombre} {
      flex: 1; // Anchos iguales
      background-color: nth($propiedades, 1);
      height: nth($propiedades, 2);
      color: nth($propiedades, 4);
      padding-left: 10px;

      // Anidación de los títulos dentro de cada caja
      h1,
      h2,
      h3 {
        margin: 0;
        line-height: 1;
        font-size: nth($propiedades, 3);
      }
    }
  }
}
