// --- LÓGICA DE PROGRAMACIÓN: FUNCIÓN PERSONALIZADA (@function) ---
// Las funciones en SASS permiten realizar cálculos o procesar valores para devolver un resultado.
@function aclararColor($color, $porcentaje: 10%) {
  // Utilizamos 'lighten', una función interna de SASS que manipula la luminosidad del color.
  // @return devuelve el nuevo color procesado al lugar donde se llamó la función.
  @return lighten($color, $porcentaje);
}

// --- REUTILIZACIÓN DE CÓDIGO: MIXINS (@mixin) ---
// Los mixins son bloques de código CSS que puedes "grabar" para usarlos en múltiples sitios

// Mixin con parámetros: Permite configurar el Flexbox de forma dinámica
@mixin flex-centrado($direction: row, $justify: center, $align: center) {
  display: flex;
  // Usamos variables de argumento ($direction, etc.) para que el mixin sea flexible.
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Mixin de estilos compartidos: para elementos visuales repetitivos.
@mixin imagen-base {
  background-size: cover;
  background-position: center;
  // SASS facilita el diseño elástico (Responsive) agrupando propiedades de flexbox.
  flex: 1;
}

// Mixin de estructura: Centraliza el diseño de los contenedores (Aside, Cards, etc.).
@mixin caja-estandar {
  border: 1px solid #ccc;
  // Encapsulamos sombras y bordes para mantener la coherencia visual en toda la web.
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
}
