// --- FUNCIÓN: aclararColor ---
// Recibe un color y devuelve una versión más clara usando la función nativa lighten
@function aclararColor($color, $porcentaje: 10%) {
  @return lighten(
    $color,
    $porcentaje
  ); // Requisito: devuelve el color más claro
}

// --- MIXIN: flex-centrado ---
// Evita repetir "display: flex, align-items, etc" en todo el código
@mixin flex-centrado($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// --- MIXIN: imagen-base ---
// Estilos que comparten todas las imágenes del main para ahorrar líneas
@mixin imagen-base {
  background-size: cover;
  background-position: center;
  flex: 1; // Para que se repartan el ancho en el contenedor flex
}
