@import "variables";
@import "generales";

header {
  width: 100%;
  background: transparent;

  #logo {
    background-color: $color-principal;
    width: 280px;
    height: 70px;
    @include flex-centrado; // Aplicamos el mixin de centrado[cite: 1]

    h1 {
      color: $color-blanco;
      letter-spacing: 5px;
      font-size: 40px;
    }
  }

  nav#menu {
    background-color: $color-gris-menu;
    height: 45px;
    border-bottom: 2px solid $color-borde-menu;

    ul {
      list-style: none;
      @include flex-centrado(row, flex-start, center);
      height: 100%;
      padding-left: 20px;

      // --- BUCLE PARA EL NAV ---
      // Recorre los 4 elementos del menú aplicando operaciones matemáticas
      @for $i from 1 through 4 {
        li:nth-child(#{$i}) {
          padding: 0 (10px + $i); // Operación: suma píxeles según la posición
          border-right: #{$i *
            1px}
            solid
            #666; // Operación: el borde crece según el índice

          a {
            text-decoration: none;
            font-weight: bold;
            font-size: $tamano-base +
              $i; // Operación: el texto crece ligeramente
            color: nth(
              $colores-nav,
              $i
            ); // Extrae el color de la lista de variables
          }
        }
      }
    }
  }
}
