@import "variables";
@import "generales";

#global {
  width: 70%; // El cuadro blanco centrado[cite: 1]
  margin: 40px auto;
  background-color: $color-blanco;
  padding: 30px;
  min-height: 700px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  section#content1 {
    .container {
      display: flex;
      gap: 15px;

      // --- BUCLE DE IMÁGENES ---
      // Usamos @each para asignar las fotos de fondo
      $fotos: "cielo", "rojas";
      @each $foto in $fotos {
        .#{$foto} {
          @include imagen-base; // Hereda características comunes del mixin
          height: 250px;
          background-image: url("img/#{$foto}.jpg"); // Genera la ruta dinámicamente
        }
      }
    }

    // --- DISEÑO LIBRE: TABLA DE DATOS ---
    // Demostración de anidación profunda y uso del carácter &
    .tabla-info {
      margin-top: 30px;
      width: 100%;
      border-collapse: collapse;

      tr {
        &:nth-child(even) {
          background: #f9f9f9;
        } // & referencia al tr padre

        th {
          background: $color-principal;
          color: white;
          padding: 10px;
        }

        td {
          border: 1px solid #ddd;
          padding: 10px;

          // Efecto sobre botón dentro de tabla
          .btn-ver {
            padding: 5px;
            background: $color-principal;
            color: white;
            transition: all 0.3s; // Transición requerida

            &:hover {
              background: aclararColor(
                $color-principal,
                15%
              ); // Uso de la función
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
