// Colores principales
$color-verde: #1a4d2e;
$color-rojo: #922b21;
$color-azul: #154360;
$color-gris-fondo: #ccc;
$color-blanco: #ffffff;

// Tipografías y tamaños
$fuente-principal: 'Arial', sans-serif;
$tamano-base: 16px;